@use "../base/mixins" as *;
@use "../base/variables" as *;
@use "../base/media-queries" as *;

.slider-main {
  picture {
    padding-bottom: 100%;

    @include tablet-p {
      padding-bottom: 50%;
    }

    @include tablet-l {
      padding-bottom: 40%;
    }

    @include laptop {
      padding-bottom: 30%;
    }

    @include desktop {
      padding-bottom: 40rem;
    }
  }

  &__button {
    position: absolute;
    z-index: 2;
    bottom: 6rem;
    left: 50%;
    transform: translate(-50%, 0px);
  }

  &__pagination {
    position: absolute;
    z-index: 2;
    width: 100%;
    bottom: 2rem;
  }
}
