@mixin font-face($name, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-family: "#{$name}";
    src: url("../fonts/#{$file-path}.woff2") format("woff2"),
         url("../fonts/#{$file-path}.woff") format("woff");
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

@include font-face("Rubik", "rubik/Rubik-Light", 300);
@include font-face("Rubik", "rubik/Rubik-LightItalic", 300, italic);
@include font-face("Rubik", "rubik/Rubik-Regular", 400);
@include font-face("Rubik", "rubik/Rubik-Italic", 400, italic);
@include font-face("Rubik", "rubik/Rubik-Medium", 500);
@include font-face("Rubik", "rubik/Rubik-MediumItalic", 500, italic);
@include font-face("Rubik", "rubik/Rubik-Bold", 700);
@include font-face("Rubik", "rubik/Rubik-BoldItalic", 700, italic);
@include font-face("Rubik", "rubik/Rubik-Black", 900);
@include font-face("Rubik", "rubik/Rubik-BlackItalic", 900, italic);
