:root {
  --icon__dropdown: url("data:image/svg+xml,%3Csvg stroke-width='1' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.54204 2.55806C8.78612 2.80214 8.78612 3.19786 8.54204 3.44194L4.94242 7.04156C4.82521 7.15877 4.66586 7.225 4.5001 7.225C4.33434 7.225 4.17537 7.15915 4.05816 7.04194L0.458157 3.44194C0.214079 3.19786 0.214079 2.80214 0.458157 2.55806C0.702234 2.31398 1.09796 2.31398 1.34204 2.55806L4.5001 5.71612L7.65816 2.55806C7.90223 2.31398 8.29796 2.31398 8.54204 2.55806Z' fill='currentColor'/%3E%3C/svg%3E");
  --viewport-height: calc(var(--app-height, 1vh) * 100);
}

// fonts
$font-main: "Exo 2", Arial, Helvetica, sans-serif;

// colors
$color-black: #000000;
$color-black-light: #344150;
$color-white: #ffffff;
$color-gray: #919191;
$color-gray-2: #f1f1f1;
$color-gray-3: #e8e8e8;
$color-gray-4: #f6f6f6;
$color-gray-5: #999999;
$color-gray-6: #4f4f4f;
$color-red: #e01920;
$color-red-2: #ed583b;
$color-orange: #f7941e;
$color-orange-dark: #a66315;
$color-green: #0ab02a;
$color-green-2: #068d20;

// transition
$t-fast: 0.15s;
$t-normal: 0.3s;
$t-medium: 0.5s;
$t-large: 0.7s;
$cubic-bezier: cubic-bezier(0.545, 0.045, 0.355, 1);

// breakpoints
$screen-xxs-max: 390px;
$screen-xs-max: 430px;
$screen-sm-max: 767px;
$screen-sm-min: 768px;
$screen-md-max: 1023px;
$screen-md-min: 1024px;
$screen-lg-max: 1279px;
$screen-lg-min: 1280px;
$screen-xl-min: 1440px;
$screen-xxl-min: 1920px;

// elements
$arrow: var(--icon__dropdown);
