@use "./mixins" as *;
@use "./variables" as *;
@use "./media-queries" as *;

.std {
  font-size: 16px;
  line-height: 1.375;

  @include laptop {
    font-size: 17px;
    line-height: 1.41;
  }

  .wp-block-heading {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 19px;
    line-height: 1.32;
    letter-spacing: 0.01em;

    @include laptop {
      margin-bottom: 25px;
      font-size: 24px;
      letter-spacing: 0.022em;
    }
  }

  h5.wp-block-heading {
    @include laptop {
      font-size: 21px;
      letter-spacing: 0.01em;
    }
  }

  h6.wp-block-heading {
    font-size: 14px;
  }

  .entry-content {
    p {
      margin-bottom: 20px;
    }

    p,
    table,
    li {
      a {
        text-decoration: underline;
        background: transparent !important;

        @include hover {
          text-decoration: none;
        }
      }
    }

    .wp-block-separator {
      margin-top: 23px;
      margin-bottom: 14px;
    }

    ul {
      padding: 0 0 20px 25px;

      li {
        list-style-type: disc;
      }
    }
  }

  .custom-row {
    @include laptop {
      max-width: 100% !important;
    }
  }
}
