@use "../base/mixins" as *;
@use "../base/variables" as *;
@use "../base/media-queries" as *;

.products-wrapper {
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  clear: both;

  &:before,
  &:after {
    display: none !important;
  }

  grid-template-columns: repeat(2, 1fr);

  @include tablet-p {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  &.columns-4 {
    @include tablet-l {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  &.columns-5 {
    @include tablet-l {
      grid-template-columns: repeat(5, 1fr);
    }
  }
  &.columns-6 {
    @include tablet-l {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  .category-item {
    transition: box-shadow $t-normal ease-in-out;

    @include hover {
      box-shadow: 0 0 30px -10px rgb(0 0 0 / 30%);
    }
  }
}

.woocommerce-ordering {
  max-width: 100%;
  width: 35rem;
  margin-bottom: 3rem;

  @include mobile {
    float: left;
  }

  [data-head] {
    height: 3.9rem;
  }
}

.woocommerce-result-count {
  @include mobile {
    width: 100%;
  }
}
