@use "../base/mixins" as *;
@use "../base/variables" as *;
@use "../base/media-queries" as *;

.woocommerce-info {
  border-top-color: $color-orange;

  &:before {
    color: $color-orange;
  }
}

.woocommerce-message {
  border-top-color: $color-green;

  &:before {
    color: $color-green;
  }
}

.woocommerce-error {
  border-top-color: $color-red;

  &:before {
    color: $color-red;
  }
}

.woocommerce {
  .action-primary:not(.product-item .action-primary) {
    padding: 1.5rem 2.5rem !important;
    font-size: 1.4rem;
    max-width: 25rem;
    text-align: center;
    width: 100%;
    margin-top: 2rem;
    border-radius: 3px;
    line-height: 1;
    border: 0.1rem solid $color-blue;
    background: $color-blue !important;
    color: $color-white;
    transition:
      color $t-normal,
      background $t-normal;

    &.disabled,
    &:disabled {
      background: $color-gray !important;
    }

    &:not(.disabled):not(:disabled) {
      @include hover {
        background: $color-white !important;
        color: $color-blue;
      }
    }
  }

  .action-primary-transparent:not(.product-item .action-primary-transparent) {
    padding: 1.5rem 2.5rem !important;
    font-size: 1.4rem;
    line-height: 1;
    border: 0.1rem solid $color-blue;
    background: $color-white;
    color: $color-blue;
    border-radius: 0;
    transition:
      color $t-normal,
      background $t-normal;

    &.disabled,
    &:disabled {
      border-color: $color-gray !important;
      color: $color-gray !important;
    }

    &:not(.disabled):not(:disabled) {
      @include hover {
        background: $color-blue;
        color: $color-white;
      }
    }
  }
}

.woocommerce-page .woocommerce-message .button,
.woocommerce-page .woocommerce-error .button,
.woocommerce-page .woocommerce-info .button,
.woocommerce .button.wc-backward {
  padding: 0.8rem 1.5rem;
  font-size: 1.4rem;
  line-height: 1;
  border: 0.1rem solid $color-blue;
  background: $color-blue !important;
  font-weight: 400;
  color: $color-white;
  transition:
    color $t-normal,
    background $t-normal;

  &.disabled,
  &:disabled {
    background: $color-gray !important;
  }

  &:not(.disabled):not(:disabled) {
    @include hover {
      background: $color-white !important;
      color: $color-blue;
    }
  }
}

.woocommerce form .form-row {
  padding: 0;
}

.wc-block-components-sidebar-layout {
  padding: 0;
}

.select2-container .select2-dropdown,
.select2-container .select2-selection {
  border-radius: 0;
  border-color: $color-gray;

  @include hover {
    border-color: $color-gray;
  }
}

.select2-container.select2-container--open {
  .select2-selection,
  .select2-dropdown {
    border-color: $color-black;
  }
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding: 1.05rem 1rem;
}

.woocommerce-checkout .select2-container--default .select2-selection--single {
  padding: 0.5rem 3rem 0.5rem 1rem;
  border-radius: 0;
  height: 4rem;
  border: 0.1rem solid $color-gray !important;

  @include hover {
    border: 0.1rem solid $color-gray !important;
  }
}

.woocommerce-checkout
  .select2-container.select2-container--open
  .select2-selection--single {
  border: 0.1rem solid $color-black !important;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: 100% !important;
}

.woocommerce-checkout
  .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  padding: 0;
  height: 100%;
}

#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
  background: transparent;
  border: 0.1rem solid $color-gray;
}

.swiper {
  .swiper-slide {
    &:has(.product-item) {
      height: auto;
    }

    .product-item {
      height: 100%;
    }
  }
}

#add_payment_method #payment ul.payment_methods li,
.woocommerce-cart #payment ul.payment_methods li,
.woocommerce-checkout #payment ul.payment_methods li {
  line-height: 1.3;
  margin-bottom: 2rem;
}

// Cart table

.woocommerce table.shop_table_responsive tr:nth-child(2n) td,
.woocommerce-page table.shop_table_responsive tr:nth-child(2n) td {
  background: $color-light !important;
}

.woocommerce-cart-form {
  .product-sku {
    white-space: nowrap;
  }
}

.shop_table {
  .product-thumbnail {
    width: 20rem;

    img {
      width: 100% !important;
      aspect-ratio: 1/1;
    }

    @include mobile {
      display: none !important;
    }
  }

  td,
  th {
    @include mobile {
      min-height: 4.1rem;
    }

    @include tablet-p {
      display: table-cell;
    }
  }

  .product-name {
    a {
      white-space: unset !important;
      text-align: left !important;

      @include mobile {
        max-width: 70%;
        text-align: right !important;
      }
    }
  }

  th.product-quantity {
    border-top: none !important;
  }

  .product-quantity {
    border-bottom: none !important;
    border-left: none !important;
    border-right: none !important;
    min-width: 16rem;

    input {
      background: transparent !important;
    }

    .custom-qty {
      @include mobile {
        margin-left: auto;
      }
    }
  }

  .product-remove {
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 4rem;
      height: 4rem;
      border-radius: 3px;
      border: 1px solid $color-blue;
      background: $color-blue;
      color: $color-white !important;
      transition:
        color $t-normal,
        background $t-normal;

      @include mobile {
        margin: 0 auto;
      }

      @include hover {
        background: $color-white;
        color: $color-blue !important;
      }
    }
  }
}

form.woocommerce-checkout {
  display: flex;
  justify-content: space-around;

  @include mobile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  & > div {
    width: 37rem !important;
    padding: 2rem;
    text-align: center !important;
    background-color: #f2f5f9;
  }

  #customer_details {
    #billing_new_fild9_field,
    #billing_new_fild10_field {
      label {
        display: block !important;
      }
    }
    label {
      display: none !important;
    }
  }

  .col-1 {
    width: 100% !important;
  }

  input {
    background: transparent !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center !important;
    &.mage-error {
      &:focus {
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
        box-shadow: none !important;
      }
    }
  }

  h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: $color-blue;
  }

  .order-total {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 700;
  }
}

#add_payment_method .checkout .checkout-inline-error-message,
.woocommerce-cart .checkout .checkout-inline-error-message,
.woocommerce-checkout .checkout .checkout-inline-error-message {
  margin-top: 0.4rem;
  font-size: 1.1rem;
  color: #d52525;
  text-align: left;
}

.payment_method_liqpay-webplus img {
  width: 50px;
}

.woocommerce-checkout #payment {
  border: none !important;
  border-radius: 0;
}
