@use "../base/mixins" as *;
@use "../base/variables" as *;
@use "../base/media-queries" as *;

.woocommerce-info {
  border-top-color: $color-orange;

  &:before {
    color: $color-orange;
  }
}

.woocommerce-message {
  border-top-color: $color-green;

  &:before {
    color: $color-green;
  }
}

.woocommerce-error {
  border-top-color: $color-red;

  &:before {
    color: $color-red;
  }
}

.woocommerce {
  .action-primary:not(.product-item .action-primary) {
    padding: 1.5rem 2.5rem;
    font-size: 1.4rem;
    max-width: 25rem;
    text-align: center;
    width: 100%;
    margin-top: 2rem;
    line-height: 1;
    border: 0.1rem solid $color-blue;
    background: $color-blue;
    color: $color-white;
    transition:
      color $t-normal,
      background $t-normal;

    &.disabled,
    &:disabled {
      background: $color-gray !important;
    }

    &:not(.disabled):not(:disabled) {
      @include hover {
        background: $color-white;
        color: $color-blue;
      }
    }
  }
}

.woocommerce-page .woocommerce-message .button,
.woocommerce-page .woocommerce-error .button,
.woocommerce-page .woocommerce-info .button {
  padding: 0.8rem 1.5rem;
  font-size: 1.4rem;
  line-height: 1;
  border: 0.1rem solid $color-blue;
  background: $color-blue;
  font-weight: 400;
  color: $color-white;
  transition:
    color $t-normal,
    background $t-normal;

  &.disabled,
  &:disabled {
    background: $color-gray !important;
  }

  &:not(.disabled):not(:disabled) {
    @include hover {
      background: $color-white;
      color: $color-blue;
    }
  }
}

.woocommerce form .form-row {
  padding: 0;
}

.wc-block-components-sidebar-layout {
  padding: 0;
}

.select2-container .select2-dropdown,
.select2-container .select2-selection {
  border-radius: 0;
  border-color: $color-gray;

  @include hover {
    border-color: $color-gray;
  }
}

.select2-container.select2-container--open {
  .select2-selection,
  .select2-dropdown {
    border-color: $color-black;
  }
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding: 1.05rem 1rem;
}

.woocommerce-checkout .select2-container--default .select2-selection--single {
  padding: 0.5rem 3rem 0.5rem 1rem;
  border-radius: 0;
  height: 4rem;
  border: 0.1rem solid $color-gray !important;

  @include hover {
    border: 0.1rem solid $color-gray !important;
  }
}

.woocommerce-checkout
  .select2-container.select2-container--open
  .select2-selection--single {
  border: 0.1rem solid $color-black !important;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: 100% !important;
}

.woocommerce-checkout
  .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  padding: 0;
  height: 100%;
}

#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
  background: transparent;
  border: 0.1rem solid $color-gray;
}

#add_payment_method #payment div.payment_box,
.woocommerce-cart #payment div.payment_box,
.woocommerce-checkout #payment div.payment_box {
  background: transparent;
}

#add_payment_method #payment div.payment_box::before,
.woocommerce-cart #payment div.payment_box::before,
.woocommerce-checkout #payment div.payment_box::before {
  display: none;
}

.woocommerce table.shop_table_responsive tr:nth-child(2n) td,
.woocommerce-page table.shop_table_responsive tr:nth-child(2n) td {
  background: transparent !important;
}

.swiper {
  .swiper-slide {
    &:has(.product-item) {
      height: auto;
    }

    .product-item {
      height: 100%;
    }
  }
}

.woocommerce table.shop_table {
  background: $color-white;
  border-bottom: 0.4rem solid $color-red;
  border-bottom-right-radius: 1.2rem;
  margin-bottom: 2.5rem;
  padding: 1.5rem 2rem;

  @include mobile {
    padding: 1rem;
  }
}

.woocommerce a.remove {
  font-family: sans-serif !important;
}

#add_payment_method #payment ul.payment_methods li,
.woocommerce-cart #payment ul.payment_methods li,
.woocommerce-checkout #payment ul.payment_methods li {
  line-height: 1.3;
  margin-bottom: 2rem;
}
