@use "../base/mixins" as *;
@use "../base/variables" as *;

.login-container {
  max-width: 60rem;
  width: 100%;
  margin: 5rem auto;
  padding: 1rem;

  .woocommerce-form {
    border: none !important;
  }

  .action.woocommerce-button.button,
  .action.button.woocommerce-Button {
    margin-top: 0;
  }

  .show-password-input,
  .woocommerce-page form .show-password-input {
    top: 2rem !important;
  }
}

#register {
  width: 100%;
  display: none;
  float: unset !important;
}

#login {
  width: 100%;
  float: unset !important;
}
