@use "../base/variables" as *;
@use "../base/mixins" as *;

.product-small {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding: 0.8rem 1rem;
  text-decoration: none;
  color: inherit;
  transition: background-color $t-normal ease;

  @include hover {
    background-color: $color-light;
  }

  &:not(:last-child) {
    border-bottom: 0.1rem solid $color-gray-3;
  }

  &.outofstock {
    opacity: 0.5;

    img {
      opacity: 0.5;
    }
  }

  &__image {
    flex-shrink: 0;
    width: 6rem;
    height: 6rem;

    picture {
      display: block;
      width: 100%;
      height: 100%;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    min-width: 0;
  }

  &__name {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.3;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__price {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.4rem;
    font-weight: 500;

    .price-sale {
      color: $color-red;
      font-weight: 600;
    }

    .price-regular {
      text-decoration: line-through;
      color: $color-gray;
      font-size: 1.2rem;
    }

    .price-normal {
      font-weight: 600;
    }
  }
}
