@use "../base/mixins" as *;
@use "../base/variables" as *;
@use "../base/media-queries" as *;

.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.product-item {
  padding: 1rem;
  position: relative;
  transition: box-shadow $t-normal;
  overflow: hidden;

  @include hover {
    box-shadow: 0 0 30px -10px rgb(0 0 0 / 30%);

    .product-item__action-wrap {
      transform: translate3d(0, 0, 0);
      opacity: 1;
      pointer-events: auto;
    }

    .product-item__action-icons {
      transform: translate3d(0, 0, 0);
      opacity: 1;
      pointer-events: auto;
    }
  }

  &__image-box {
    position: relative;
    margin-bottom: 1rem;
  }

  &__image {
    width: 100;
    aspect-ratio: 1/1;
  }

  &__name {
    font-size: 1.6rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__action-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -1rem;
    width: 100%;
    bottom: 2rem;
    opacity: 0;
    z-index: 5;
    pointer-events: none;
    transform: translate3d(0, 10rem, 0);
    transition:
      opacity $t-normal,
      transform $t-normal;
  }

  &__action-icons {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    top: 1rem;
    left: 1rem;
    transform: translate3d(0, -5rem, 0);
    opacity: 0;
    pointer-events: none;
    transition:
      opacity $t-normal,
      transform $t-normal;

    @include mobile {
      opacity: 1;
      transform: translate3d(0px, 0px, 0px);
      bottom: 1rem;
      top: auto;
      pointer-events: auto;
    }

    button {
      padding: 0.5rem;
      border-radius: 50%;
      background: $color-white;
      transition:
        background $t-normal,
        color $t-normal;

      @include hover {
        color: $color-white;
        background: $color-blue;
      }
    }

    .button-favorite._active {
      color: $color-red;
      opacity: 1;
      pointer-events: auto;
    }
  }

  .product-item__action-icons .button-favorite._active {
    opacity: 1;
    pointer-events: auto;
  }
}
