@use "../base/mixins" as *;
@use "../base/variables" as *;
@use "../base/media-queries" as *;

.single-product {
  margin-top: 3rem;

  &__top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4rem;
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;

    @include tablet-l {
      flex-direction: row;
      margin-bottom: 4rem;
      gap: 5rem;
    }
  }

  &__short-description {
    .wp-video,
    .mejs-container,
    video {
      max-width: 100% !important;
      width: 100% !important;
    }
  }

  &__content {
    width: 100% !important;

    .variations-container {
      display: flex;
      align-items: flex-start;
      gap: 2rem;
      flex-wrap: wrap;

      @include mobile {
        flex-direction: column;
      }
    }

    .variation-block {
      flex: 0 1 23%;
      min-width: 200px;

      @include mobile {
        width: 100%;
      }
    }

    .variation-label {
      display: block;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 0.5rem;
    }

    .woocommerce-variation-availability {
      margin-bottom: 1rem;

      .in-stock {
        color: $color-green !important;
      }
    }

    .price {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin-bottom: 2rem;
      color: $color-black-light !important;
      font-size: 3rem !important;

      del {
        font-size: 1.5rem !important;
        color: $color-gray-5;
        text-decoration: line-through;
      }

      ins {
        color: $color-red;
      }
    }
  }

  &__attributes {
    h2 {
      margin-bottom: 2rem;
      font-size: 2.2rem;
      font-weight: 500;
    }

    .woocommerce-product-attributes-item {
      font-size: 1.2rem;
    }
  }

  &__full-description {
    margin-bottom: 5rem;
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15rem;
    background: url("../img/brand_bg.png") no-repeat center bottom -45px white;
    background-size: contain;

    @include mobile {
      padding-bottom: 0;
      background: url("../img/brand_bg.png") no-repeat center bottom 0 white;
      background-size: contain;
    }
  }

  .action.single_add_to_cart_button {
    padding: 1.5rem 2.5rem;
    font-size: 1.4rem;
    max-width: 25rem;
    width: 100%;
    margin-top: 2rem;
    line-height: 1;
    border: 0.1rem solid $color-blue;
    background: $color-blue !important;
    color: $color-white;
    -webkit-tap-highlight-color: transparent !important;
    transition:
      color $t-normal,
      background $t-normal;

    &.disabled,
    &:disabled {
      background: $color-gray !important;
    }

    &:not(.disabled):not(:disabled) {
      @include hover {
        background: $color-white !important;
        color: $color-blue;
      }
    }

    &:active,
    &:focus {
      background: $color-blue;
      color: $color-white;
      outline: none;
    }

    @include mobile {
      font-size: 1.2rem;
    }
  }

  &__row {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1.5rem !important;

    .td {
      display: block;
      width: calc(50% - 1rem);
      margin-bottom: 0 !important;
    }
  }
}

.section-related-products__slider {
  &:not(.swiper-initialized) {
    .swiper-wrapper {
      display: flex;
      gap: 2rem;
    }

    .swiper-slide {
      width: calc(50% - 1rem);

      @include tablet-p {
        width: calc(33% - 1rem);
      }

      @include tablet-l {
        width: calc(25% - 2rem);
      }

      @include laptop {
        width: calc(19%);
      }
    }
  }
}

.section-upsells-products__slider {
  margin-bottom: 4rem;

  &:not(.swiper-initialized) {
    .swiper-wrapper {
      display: flex;
      gap: 2rem;
    }

    .swiper-slide {
      width: calc(50% - 1rem);

      @include tablet-p {
        width: calc(33% - 1rem);
      }

      @include tablet-l {
        width: calc(25% - 2rem);
      }

      @include laptop {
        width: calc(19%);
      }
    }
  }
}
