@use "base/variables";
@use "base/media-queries";
@use "base/mixins";
@use "base/reset";
@use "base/fonts";
@use "base/core";
@use "base/wysiwyg";

// lib

@use "lib/swiper";
@use "lib/arcticmodal";

// layout

@use "layout/actions";
@use "layout/header";
@use "layout/footer";

// components

@use "components/dropdown";
@use "components/breadcrumbs";
@use "components/form";
@use "components/social";
@use "components/toast";

// woocommerce

@use "woocommerce/product-item";
@use "woocommerce/badges";

// blocks

@use "blocks/section-products";
@use "blocks/main-slider";
