@use "base/variables";
@use "base/media-queries";
@use "base/mixins";
@use "base/reset";
@use "base/fonts";
@use "base/core";
@use "base/wysiwyg";

// lib

@use "lib/swiper";
@use "lib/arcticmodal";

// layout

@use "layout/actions";
@use "layout/header";
@use "layout/footer";

// components

@use "components/dropdown";
@use "components/breadcrumbs";
@use "components/form";
@use "components/social";
@use "components/toast";
@use "components/live-search";
@use "components/product-filters";

// woocommerce

@use "woocommerce/archive-products";
@use "woocommerce/product-item";
@use "woocommerce/badges";
@use "woocommerce/pagination";
@use "woocommerce/product-gallery";
@use "woocommerce/single-product";
@use "woocommerce/quantity";
@use "woocommerce/global";
@use "woocommerce/product-small-item";
@use "woocommerce/login-page";
@use "woocommerce/my-account";

// blocks

@use "blocks/section-products";
@use "blocks/main-slider";
@use "blocks/brands-page";
