@use "../base/mixins" as *;
@use "../base/variables" as *;
@use "../base/media-queries" as *;

.breadcrumbs {
  margin: 2rem 0 1rem;

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    a {
      @include underline-normal;
    }
  }

  &__separator {
    margin: 0 0.2rem;
  }
}

.woocommerce-breadcrumb {
  margin: 2rem 0 1rem !important;
  font-size: 1.5rem !important;
  color: inherit !important;

  a {
    color: inherit !important;

    @include underline-normal;
  }
}
