@use "../base/variables" as *;
@use "../base/media-queries" as *;
@use "../base/mixins" as *;

.toast-container {
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 36rem;
  width: 100%;
  pointer-events: none;

  @media (max-width: $screen-sm-max) {
    right: 1rem;
    left: 1rem;
    max-width: none;
    width: auto;
  }
}

.toast {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding: 1.2rem 1.6rem;
  background: $color-white;
  border-radius: 0.8rem;
  box-shadow: 0 4px 24px rgb(0 0 0 / 12%);
  border-left: 3px solid $color-orange;
  pointer-events: auto;
  transform: translateX(calc(100% + 2rem));
  opacity: 0;
  transition:
    transform $t-normal $cubic-bezier,
    opacity $t-normal;

  &._show {
    transform: translateX(0);
    opacity: 1;
  }

  &._hide {
    transform: translateX(calc(100% + 2rem));
    opacity: 0;
  }

  &__image {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 0.4rem;
    flex-shrink: 0;
  }

  &__body {
    flex: 1;
    min-width: 0;
  }

  &__text {
    font-size: 1.4rem;
    line-height: 1.4;
    color: $color-black;

    a {
      color: $color-blue;
      text-decoration: underline;
    }
  }

  &__close {
    flex-shrink: 0;
    background: none;
    border: none;
    font-size: 2rem;
    line-height: 1;
    color: $color-gray;
    cursor: pointer;
    padding: 0.4rem;
    transition: color $t-fast;

    @include hover {
      color: $color-black;
    }
  }
}
