@use "../base/mixins" as *;
@use "../base/variables" as *;
@use "animation" as *;

.action {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  transition: 0.3s all;
  background: none;
  white-space: nowrap;
  line-height: 1;
  font-weight: 400 !important;
  -webkit-tap-highlight-color: inherit;

  a:active,
  a:focus {
    outline: none;
    background: inherit;
  }

  > * {
    box-shadow: none !important;
    outline: none !important;
  }

  &-primary {
    padding: 0.8rem 2.5rem;
    font-size: 1.4rem;
    line-height: 1;
    border: 0.1rem solid $color-blue;
    background: $color-blue;
    color: $color-white;
    border-radius: 2.5rem;
    transition:
      color $t-normal,
      background $t-normal;

    &.disabled,
    &:disabled {
      background: $color-gray !important;
    }

    &:not(.disabled):not(:disabled) {
      @include hover {
        background: $color-white;
        color: $color-blue;
      }
    }

  }

  &-secondary {
    padding: 0.8rem 2.5rem;
    font-size: 1.4rem;
    line-height: 1;
    border: 0.1rem solid $color-blue;
    background: $color-blue;
    color: $color-white;
    transition:
      color $t-normal,
      background $t-normal;

    &.disabled,
    &:disabled {
      background: $color-gray !important;
    }

    &:not(.disabled):not(:disabled) {
      @include hover {
        background: $color-white;
        color: $color-blue;
      }
    }
  }

  &-icon {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    margin: -1rem;
    border: none;
    color: $color-black;
    transition: color 0.5s cubic-bezier(0.5, 0.25, 0, 1);

    svg {
      transition:
        transform 0.5s cubic-bezier(0.5, 0.25, 0, 1),
        opacity 0.5s cubic-bezier(0.5, 0.25, 0, 1);
    }

    @include hover {
      svg {
        transform: scale(1.1);
      }
    }

    .icon-count {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 1.2rem;
      background: $color-red;
      color: $color-white;
      height: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 2rem;
      border-radius: 50%;
    }
  }

  &-underlined,
  &-underline {
    position: relative;
    height: auto;
    padding: 0;
    border: none;
    line-height: 1.5;
  }

  &-underline {
    @include underline-normal;
  }

  &-underlined {
    @include underline-reverse;
  }

  &-color {
    @include anim-change-color();
  }
}
