@keyframes shine {
  0% {
    left: -75%;
  }
  100% {
    left: 125%;
  }
}

@keyframes spinner-rotate {
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(57, 96, 255, 0.6);
  }
  70% {
    box-shadow: 0 0 0 12px rgba(57, 96, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(57, 96, 255, 0);
  }
}
