@use "../base/mixins" as *;
@use "../base/variables" as *;
@use "../base/media-queries" as *;

.header {
  position: relative;

  svg {
    pointer-events: none;
  }
}

.mobile-menu-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: var(--viewport-height, 100vh);
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition:
    opacity $t-medium $cubic-bezier,
    visibility $t-medium $cubic-bezier;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  @include tablet-l {
    display: none;
  }
}
