@use "../base/mixins" as *;
@use "../base/variables" as *;
@use "../base/media-queries" as *;

.header {
  position: relative;

  svg {
    pointer-events: none;
  }

  &__top {
    padding: 1rem 0;
    background-color: $color-blue;
    color: $color-white;

    p {
      margin-bottom: 0;
    }
  }

  &__top-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__burger {
    position: relative;
    width: 2.4rem;
    height: 2rem;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;

    span,
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 0.2rem;
      background-color: $color-black;
      transition:
        transform $t-normal ease,
        opacity $t-normal ease;
    }

    &::before {
      top: 0;
    }

    span {
      top: 50%;
      transform: translateY(-50%);
    }

    &::after {
      bottom: 0;
    }

    &.is-active {
      &::before {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
      }

      span {
        opacity: 0;
      }

      &::after {
        bottom: auto;
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
      }
    }
  }

  &__menu {
    ul {
      display: flex;
      align-items: center;
      gap: 3rem;

      li {
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;

        @include hover {
          & > .sub-menu {
            opacity: 1;
            visibility: visible;
            transform: translate3d(0, 0, 0);
          }

          & > a {
            .sub-menu-toggle {
              transform: rotate(-180deg);
            }
          }
        }

        &.qtranxs-lang-menu {
          .sub-menu {
            width: 10rem;
            left: 50%;
            transform: translate(-50%, 0) !important;
          }
        }

        a {
          position: relative;
          display: flex;
          align-items: center;
          height: 4.5rem;
          font-size: 1.4rem;
          font-weight: 500;
          padding-right: 1rem;
          white-space: nowrap;
          transition: color $t-normal ease-in-out;

          @include hover {
            color: $color-red;
          }

          .sub-menu-toggle {
            position: absolute;
            top: 0;
            right: -1.5rem;
            width: 2rem;
            height: 100%;
            background: var(--icon__dropdown);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 1rem 1rem;
            transition: transform 0.3s ease-in;
          }
        }

        .sub-menu {
          position: absolute;
          left: 0;
          top: 99%;
          z-index: 3;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 20rem;
          gap: 0;
          text-align: center;
          padding: 1.5rem 1.5rem 1.5rem 1.5rem;
          background: $color-white;
          opacity: 0;
          visibility: hidden;
          transform: translate3d(0, -20px, 0);
          background: $color-white;
          transition:
            $t-normal opacity ease-in,
            $t-normal visibility ease-in,
            $t-normal transform ease-in;

          li {
            a {
              height: auto;
              margin: 1rem 0;
            }

            .sub-menu {
              left: 100%;
              top: 0;
            }
          }
        }
      }
    }
  }

  &__bottom-content {
    .header__menu {
      margin-top: 1rem;

      ul {
        flex-direction: column;
        gap: 0;

        li {
          flex-direction: column;
          align-items: center;
          width: 100%;

          &.qtranxs-lang-menu {
            .sub-menu {
              transform: translate(0%, 0) !important;
            }
          }

          &.is-open {
            > a {
              color: $color-red;
            }
          }

          a {
            justify-content: center;
            height: auto;
            padding: 1rem 0;
          }
        }

        .menu-item-has-children > a {
          position: relative;

          .sub-menu-toggle {
            position: absolute;
            right: -2.5rem;
            top: 50%;
            transform: translateY(-50%);
            width: 2rem;
            height: 2rem;
            transition: transform 0.3s ease;
          }
        }

        .menu-item-has-children.is-open > a {
          .sub-menu-toggle {
            transform: translateY(-50%) rotate(-180deg);
          }
        }

        .sub-menu {
          position: static;
          display: none;
          opacity: 1;
          visibility: visible;
          transform: none;
          width: 100%;

          li a {
            margin: 0;
            font-weight: 400;
          }
        }
      }
    }
  }

  &__action-icon {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__bottom-icon {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
  }

  .header-main {
    padding: 1rem 0;
    border-bottom: 0.1rem solid $color-black;
  }
}

.mobile-menu-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: var(--viewport-height, 100vh);
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition:
    opacity $t-medium $cubic-bezier,
    visibility $t-medium $cubic-bezier;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  @include tablet-l {
    display: none;
  }
}
